# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Windows end line
*.bat   text eol=crlf
# Linux end line
*.sh    text eol=lf
*.java  text eol=lf
*.c     text eol=lf
*.h     text eol=lf
*.py    text eol=lf
*.pl    text eol=lf
*.rb    text eol=lf
*.awk   text eol=lf
*.js    text eol=lf
*.d     text eol=lf
*.di    text eol=lf
*.html  text eol=lf
*.css   text eol=lf
*.md    text eol=lf
*.xml   text eol=lf
*.json  text eol=lf
*.svg   text eol=lf
gradlew text eol=lf

*.png binary
*.jpg binary
*.zip binary
*.jar binary
*.tbi binary
*.gz  binary
*.rda binary