.idea/
build/
linux_venv/
win_venv/
*.pyc
*.pyo
.eggs/
.pytest_cache/
dist/
__pycache__/
*.egg-info/
All_in_one_contatester3.sh
*env/
*.swp
testing/
data_examples/calculAllelicBalance_output.hist
data_examples/distrib_allele_balance.pdf
data_examples/test_1_comparisonSummary.*
data_examples/*
share/
install_contatester.sh
contatester_install_ccrt.sh
contatester_el7_env.tar.gz
result_in_one_line.sh
